<div class="score-form-absolute" id="score-form-<%= product.id %>">
  <div class="score-form-container">

    <div class="caret-custom-v2"></div>

    <%= simple_form_for([ category, product, score ], remote: true) do |form| %>


      <div class="flex-form-step">
        <div class="left-form-step">-</div>
        <input type="number" value="5" name="score[value]" id="score_value" data-number="5" class="hidden" data-product="<%= product.id %>">
        <div class="text-form-step">5</div>
        <div class="right-form-step">+</div>
      </div>




      <div class="exclusive-display-flex">

        <div class="score-form-cancel-button" data-id="<%= product.id %>">
          <div class="imp-red-button">Annuler</div>
        </div>

        <%= form.submit "Valider", class: "score-form-validate-button", data: { id: product.id } do %>
          <div class="imp-green-button">Valider</div>
        <% end %>

      </div>

    <% end %>
  </div>
</div>

