<div class="navigation-v2-fixed">

  <div class="logo-absolute-nav">
   <%= image_tag("logo.png", size: "22x22", alt: "Logo") %>
   <!--  <div class="logo-in-text">les</div>
    <div class="logo-in-text-bold">artisans</div>
    <div class="logo-in-text">du</div>
    <div class="logo-in-text-bold">store</div> -->
  </div>


  <div class="nav-small-top-link">
      <%= link_to root_path do %>

        <% if current_page?(root_path) %>
          <div class="nav-small-link-design" style="color: #EE5F5B;">accueil</div>
        <% else %>
          <div class="nav-small-link-design">accueil</div>
        <% end %>

      <% end %>
  </div>

  <div class="subcategory-separator"></div>

  <div class="nav-small-top-link">
      <%= link_to categories_path do %>

        <% if current_page?(categories_path) %>
          <div class="nav-small-link-design" style="color: #EE5F5B;">produits</div>
        <% else %>
          <div class="nav-small-link-design">produits</div>
        <% end %>

      <% end %>
  </div>

  <div class="subcategory-separator"></div>

  <div class="nav-small-top-link">
      <%= link_to promos_path do %>

        <% if current_page?(promos_path) %>
          <div class="nav-small-link-design" style="color: #EE5F5B;">promos</div>
        <% else %>
          <div class="nav-small-link-design">promos</div>
        <% end %>

      <% end %>
  </div>

  <div class="subcategory-separator"></div>

  <div class="nav-small-top-link">
      <%= link_to new_quotation_path do %>

        <% if current_page?(new_quotation_path) %>
          <div class="nav-small-link-design" style="color: #EE5F5B;">devis</div>
        <% else %>
          <div class="nav-small-link-design">devis</div>
        <% end %>

      <% end %>
  </div>

  <% if current_page?(categories_path) %>
    <div class="subcategory-separator"></div>

   <div class="nav-small-top-link hidden-xs">
      <div class="nav-small-link-design dynamic-green-link" id="dgl-true-link">catégories</div>
   </div>

   <div class="nav-small-top-link visible-xs">
      <div class="nav-small-link-design" id="dgl-true-link-mobile">catégories</div>
   </div>

  <% end %>




  <% if user_signed_in? %>
    <div class="nstl-absolute hidden-xs">

      <div class="nav-small-top-link">
        <div class="nav-small-link-design"><%= current_user.email %></div>
      </div>

      <div class="nav-small-top-link">
        <div class="dropdown">
          <%= link_to "", id: "custom-dropdown", data: { toggle: "dropdown" }, class: "dropdown-toggle" do %>
            <div class="icon-params navbar-icon-adjust"></div>
          <% end %>

          <ul class="dropdown-menu" aria-labelledby="custom-dropdown">
            <div class="caret-custom"></div>
            <li><%= link_to "dashboard", dashboard_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "gestion devis", quotations_admin_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "analytics", analytics_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Déconnexion", destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      </div>



      <div class="nav-small-top-link">
        <%= link_to destroy_user_session_path, method: :delete do %>
          <div class="icon-lock-2 navbar-icon-adjust navbar-signout"></div>
        <% end %>
      </div>

    </div>
  <% end %>

</div>
