<%= simple_form_for (quotation) do |f| %>

<div class="cct-asc-rel-col-header">

  <div class="ajax-quot-form-head-title">Devis gratuit</div>

  <div class="ajax-quot-full-product-container">
    <div class="aqfp-item-01">
      <div class="icon-android-time aqfp-icon"></div>
      <div class="aqfp-text"><%= "réponse sous 48h" %></div>
    </div>
    <div class="aqfp-item-01">
      <div class="icon-label aqfp-icon"></div>
      <div class="aqfp-text"><%= "#{(composed_plurname(category.name)).downcase}" %></div>
    </div>

  </div>



</div>

  <div class="cct-asc-rel-col-footer">

    <div class="cct-asc-rel-col-footer-01">

      <div class="ajax-form-flex">
        <div class="ajax-form-flex-item-left">
          <div class="ajax-form-flex-icon"><div class="icon-mail"></div></div>
          <%= f.input :email, label: false, placeholder: 'email' %>
        </div>
        <div class="ajax-form-flex-item-right">
          <div class="ajax-form-flex-icon"><div class="icon-phone"></div></div>
          <%= f.input :phone, label: false, placeholder: 'téléphone' %>
        </div>
      </div>

      <div class="ajax-form-flex">
        <div class="ajax-form-flex-item-left">
          <div class="ajax-form-flex-icon"><div class="icon-user"></div></div>
          <%= f.input :lastname, label: false, placeholder: 'nom' %>
        </div>
        <div class="ajax-form-flex-item-right">
          <div class="ajax-form-flex-icon"><div class="icon-user"></div></div>
          <%= f.input :firstname, label: false, placeholder: 'prénom' %>
        </div>
      </div>

      <div class="ajax-form-flex">
        <div class="ajax-form-flex-item-left">
          <div class="ajax-form-flex-icon"><div class="icon-target"></div></div>
          <%= f.input :city, label: false, placeholder: 'ville' %>
        </div>
        <div class="ajax-form-flex-item-right">
          <div class="ajax-form-flex-icon"><div class="icon-target"></div></div>
          <%= f.input :zipcode, label: false, placeholder: 'code postal' %>
        </div>
      </div>

      <div class="ajax-form-flex">
        <div class="ajax-form-flex-item-left" style="width: 100%;border: none;">
          <div class="ajax-form-flex-icon"><div class="icon-target"></div></div>
          <%= f.input :address, label: false, placeholder: 'adresse'%>
        </div>
      </div>
        <%= f.input :blindtype, collection: @category_names, label: false, input_html: { value: category.name.capitalize }, as: :hidden %>
        <%= f.input :product_name, input_html: { value: product.title }, as: :hidden %>
    </div>

    <div class="cct-asc-rel-col-footer-02">
      <%= f.input :message, label: false, placeholder: 'message' %>
    </div>

  </div>

  <div class="cct-real-footer">



    <div class="exclusive-display-flex" style="width: 25%;">

        <%= f.button :button, class: "score-form-button" do %>
          <div class="sfbi-circle-green"><i class="icon-android-done score-form-big-icon-v3"></i></div>
          <div class="imp-green-button">Valider</div>
        <% end %>

        <div class="score-form-button">
          <div class="sfbi-circle"><i class="icon-android-close score-form-big-icon-v3"></i></div>
          <div class="imp-red-button">Annuler</div>
        </div>

    </div>

    <div class="afad-container">
      <div class="ajax-form-alternate-demand"><div class="ajax-form-flex-icon"><div class="icon-phone"></div></div></div>
      <div class="ajax-form-alternate-demand-phone">04 74 01 05 11</div>
      <div class="ajax-form-alternate-demand"><div class="ajax-form-flex-icon"><div class="icon-mail"></div></div></div>
      <div class="ajax-form-alternate-demand-phone">ads.pascale.orange.fr</div>
    </div>

  </div>

<% end %>
