<%= simple_form_for (quotation) do |f| %>

<div class="cct-asc-rel-col-header">
  <div class="icon-document-text ajax-quot-form-head-icon"></div>
  <div class="ajax-quot-form-head-title">Demande de devis</div>
</div>

  <div class="cct-asc-rel-col-footer">

    <div class="cct-asc-rel-col-footer-01">
      <div class="ajax-form-flex">
        <%= f.input :email, label: false, placeholder: 'email' %>
        <%= f.input :phone, label: false, placeholder: 'téléphone' %>
      </div>
      <div class="ajax-form-flex">
        <%= f.input :lastname, label: false, placeholder: 'nom' %>
        <%= f.input :firstname, label: false, placeholder: 'prénom' %>
      </div>
      <div class="ajax-form-flex">
        <%= f.input :city, label: false, placeholder: 'ville' %>
        <%= f.input :zipcode, label: false, placeholder: 'code postal' %>
      </div>
      <div class="ajax-form-flex">
        <%= f.input :address, label: false, placeholder: 'adresse'%>
        <%= f.input :blindtype, collection: @category_names, label: false, selected: category.name %>
      </div>

      <%= f.submit "devis gratuit", :class => 'ajax-quotation-btn' %>

    </div>

    <div class="cct-asc-rel-col-footer-02">
      <%= f.input :message, label: false, placeholder: 'message' %>
    </div>

  </div>

<% end %>
