<%= render 'shared/fixed_navbar' %>

<div class="quot-container-v3">

  <div class="subcategory-container-on-mobile">
    <div class="subcategory-big-title"><%= "Devis en ligne" %></div>
    <% if @coming_from_product == true %>
      <i class="fa fa-caret-right" aria-hidden="true" style="margin-left: 8px;margin-right: 8px;opacity: 0.5;"></i>
      <div class="subcategory-product-count"><%= "#{@current_category.name}" %></div>
    <% end %>
  </div>

  <% if @coming_from_product == true %>
    <div class="subcategory-container-promo-v5">
      <div class="icon-flash-1" style="padding-top: 3px;color: #FFD464;"></div>
      <div class="hcp-block">
        <div class="hcp-block-category"><%= "Promotions" %></div>
      </div>
      <div class="hcp-block-end-date"><%= "juqsqu'au #{l(@current_category_current_promo.end, format: '%d %B %Y')}" %></div>
    </div>
  <% else %>
    <div class="subcategory-container-promo-v5">
      <div class="icon-flash-1" style="padding-top: 3px;color: #FFD464;"></div>
      <div class="hcp-block">
        <div class="hcp-block-category"><%= "Réponse" %></div>
      </div>
      <div class="hcp-block-end-date"><%= "sous 48h" %></div>
    </div>
  <% end %>

  <div class="steps-dynamic">
    <div class="item-dynamic active" id="step1">1</div>
    <div class="line-1"></div>
    <div class="item-dynamic" id="step2">2</div>
    <div class="line-2"></div>
    <div class="item-dynamic" id="step3">3</div>
  </div>



<div class="cct-asc-relative-column">
  <div class="icon-caret-up cct-asc-caret-up"></div>

    <%= simple_form_for (@quotation) do |f| %>

    <div class="wizard" id="wizard">





      <div class="cct-asc-rel-col-footer">
        <div class="wizard-body" id="wizard-body">

          <div id="step-1" class="step active">

            <div class="ajax-form-flex">
              <div class="ajax-form-flex-item-left" style="width: 100%;border: none;">
                <div class="ajax-form-flex-icon"><div class="icon-mail"></div></div>
                <%= f.input :email, label: false, placeholder: 'email' %>
              </div>
            </div>

            <div class="ajax-form-flex">
              <div class="ajax-form-flex-item-left" style="width: 100%;border: none;">
                <div class="ajax-form-flex-icon"><div class="icon-phone"></div></div>
                <%= f.input :phone, label: false, placeholder: 'téléphone' %>
              </div>
            </div>

            <div class="ajax-form-flex">
              <div class="ajax-form-flex-item-left" style="width: 100%;border: none;">
                <div class="ajax-form-flex-icon"><div class="icon-user"></div></div>
                <%= f.input :lastname, label: false, placeholder: 'nom' %>
              </div>
            </div>

            <div class="ajax-form-flex">
              <div class="ajax-form-flex-item-left" style="width: 100%;border: none;">
                <div class="ajax-form-flex-icon"><div class="icon-user"></div></div>
                <%= f.input :firstname, label: false, placeholder: 'prénom' %>
              </div>
            </div>

            <div class="cct-real-footer">
              <div class="wizard-footer" id="wizard-footer">
                <div class="exclusive-display-flex">


                    <div class="score-form-button" id="wizard-step1-next">
                      <div class="">suivant</div>
                    </div>


                </div>
              </div>
            </div>

          </div>

          <div id="step-2" class="step">

            <div class="ajax-form-flex">
              <div class="ajax-form-flex-item-left" style="width: 100%;border: none;">
                <div class="ajax-form-flex-icon"><div class="icon-target"></div></div>
                <%= f.input :city, label: false, placeholder: 'ville' %>
              </div>
            </div>

            <div class="ajax-form-flex">
              <div class="ajax-form-flex-item-left" style="width: 100%;border: none;">
                <div class="ajax-form-flex-icon"><div class="icon-target"></div></div>
                <%= f.input :zipcode, label: false, placeholder: 'code postal' %>
              </div>
            </div>

            <div class="ajax-form-flex">
              <div class="ajax-form-flex-item-left" style="width: 100%;border: none;">
                <div class="ajax-form-flex-icon"><div class="icon-target"></div></div>
                <%= f.input :address, label: false, placeholder: 'adresse'%>
              </div>
            </div>

            <% if @coming_from_product == true %>

               <%= f.input :blindtype, input_html: { value: @product_category_name }, as: :hidden %>

            <% else %>

              <div class="ajax-form-flex">
                <div class="ajax-form-flex-item-left" style="width: 100%;border: none;">
                  <div class="ajax-form-flex-icon"><div class="icon-target"></div></div>
                  <%= f.input :blindtype, collection: @category_names, label: false, selected: @category_names.first %>
                  <div class="ajax-form-flex-icon" style="cursor: pointer;" id="select_trigger"><div class="icon-angle-down"></div></div>
                </div>
              </div>

            <% end %>


            <div class="cct-real-footer">
              <div class="wizard-footer" id="wizard-footer">
                <div class="exclusive-display-flex">


                    <div class="score-form-button" id="wizard-step2-prev">
                      <div class="">précèdent</div>
                    </div>

                    <div class="nav-separator"></div>

                    <div class="score-form-button" id="wizard-step2-next">
                      <div class="">suivant</div>
                    </div>

                </div>
              </div>
            </div>

          </div>

          <div id="step-3" class="step">


            <%= f.input :product_name, input_html: { value: @product_name }, as: :hidden %>
            <%= f.input :message, label: false, placeholder: 'message' %>
            <div class="cct-real-footer">
              <div class="wizard-footer" id="wizard-footer">
                <div class="exclusive-display-flex">


                    <div class="score-form-button" id="wizard-step3-prev">
                      <div class="">Précèdent</div>
                    </div>

                    <div class="nav-separator"></div>



                    <div class="score-form-button" id="quotation_submit_button">
                      <div class="">Valider</div>
                    </div>

                </div>
              </div>
            </div>

          </div>

        </div>
      </div>



    </div>

    <% end %>


</div>

</div>

<% content_for :js_for_forms do %>

<script>

 var wizardLogic = function() {

    var realStep1 = $(".wizard-body" + " #step-1");
    var realStep2 = $(".wizard-body" + " #step-2");
    var realStep3 = $(".wizard-body" + " #step-3");

    var step1Next = $("#wizard-step1-next");
    var step2Next = $("#wizard-step2-next");
    var step2Prev = $("#wizard-step2-prev");
    var step3Prev = $("#wizard-step3-prev");

    var num = 1;


    $(step1Next).click(function() {
      $(realStep1).removeClass("active");
      $(realStep2).addClass("active");
      if (num >= 3) {
        num = 3;
      }
      num += 1;
      if (num == 2) {
        $('.line-1').css('border-color', "#6BC5D2");
        $('#step2').addClass('active');
      } else if (num == 3) {
        $('.line-2').css('border-color', "#6BC5D2");
        $('#step3').addClass('active');
      } else if (num > 3) {
        num -= 1;
      }
    });

    $(step2Prev).click(function() {
      $(realStep2).removeClass("active");
      $(realStep1).addClass("active");
      if (num == 2) {
        $('.line-1').css('border-color', "transparent");
        $('#step2').removeClass('active');
        num -= 1;
      } else if (num > 2) {
        num -= 1;
        $('.line-2').css('border-color', "transparent");
        $('#step3').removeClass('active');
      } else if (num == 1) {
        num = 1;
      }
    });

    $(step2Next).click(function() {
      $(realStep2).removeClass("active");
      $(realStep3).addClass("active");
      if (num >= 3) {
        num = 3;
      }
      num += 1;
      if (num == 2) {
        $('.line-1').css('border-color', "#6BC5D2");
        $('#step2').addClass('active');
      } else if (num == 3) {
        $('.line-2').css('border-color', "#6BC5D2");
        $('#step3').addClass('active');
      } else if (num > 3) {
        num -= 1;
      }
    });

    $(step3Prev).click(function() {
      $(realStep3).removeClass("active");
      $(realStep2).addClass("active");
      if (num == 2) {
        $('.line-1').css('border-color', "transparent");
        $('#step2').removeClass('active');
        num -= 1;
      } else if (num > 2) {
        num -= 1;
        $('.line-2').css('border-color', "transparent");
        $('#step3').removeClass('active');
      } else if (num == 1) {
        num = 1;
      }
    });

  };

  wizardLogic();


  $( ".ajax-form-flex .form-group input" ).focusin(function() {
    var test = $(this).parent().parent().parent();
    $(test).addClass("javascript-border");
  });

  $( ".ajax-form-flex .form-group input" ).focusout(function() {
    var test = $(this).parent().parent().parent();
    $(test).removeClass("javascript-border");
  });

  $("#quotation_submit_button").click(function() {
    $("form#new_quotation").submit();
  });




</script>


<% end %>

