<%= render 'shared/fixed_navbar'  %>


<div class="carousel slide carousel-fade" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <% @random_album.each_with_index do |photo, index| %>
          <% if index == 0 %>
            <div class="item active" style="background-image: linear-gradient(90deg, rgba(255,255,255,0.1)30%, rgba(0,0,0,0.1)), url(<%= cl_image_path photo.path %>);">
            </div>
          <% else %>
            <div class="item" style="background-image: linear-gradient(90deg, rgba(255,255,255,0.1)30%, rgba(0,0,0,0.1)), url(<%= cl_image_path photo.path %>);">
            </div>
          <% end %>
        <% end %>
    </div>
</div>

<%= simple_form_for :home_choice, method: "GET" do |f| %>
  <div class="search-form-on-home">
    <div class="home-form-flex">
      <div class="ajax-form-flex-item-left" style="width: 100%;border: none;">
        <div class="ajax-form-flex-icon"><div class="icon-search"></div></div>
        <%= f.input :product_choice, collection: @category_names, label: false, selected: @category_names.first %>
        <div class="ajax-form-flex-icon" style="cursor: pointer;" id="select_trigger"><div class="icon-angle-down"></div></div>
      </div>
    </div>
  </div>

  <div id="home-search-form-submit">rechercher</div>

<% end %>


<div class="home-content-column">

  <% if @current_promos.any? %>

    <%= link_to promos_path do %>
      <div class="home-current-promo hidden-xs">
        <div class="icon-flash-1" style="padding-top: 3px;color: #FFD464;"></div>
        <div class="hcp-block">
          <div class="hcp-block-category-mobile-thin"><%= "Promotions sur les #{(composed_plurname(@current_promos.first.category.name)).downcase}" %></div>
        </div>
        <div class="hcp-block-category-mobile-bold"><%= "juqsqu'au #{l(@current_promos.first.end, format: '%d %B %Y')}" %></div>
      </div>
    <% end %>

    <div class="container-with-visible visible-xs">

      <%= link_to promos_path do %>
        <div class="home-current-promo-mobile">
          <div class="promo-mobile-flex">
            <div class="icon-flash-1" style="padding-top: 3px;color: #FFD464;"></div>
            <div class="hcp-block">
              <div class="hcp-block-category-mobile"><%= "Promotions sur les #{(composed_plurname(@current_promos.first.category.name)).downcase}" %></div>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  <% end %>

  <% @home_content.each do |item| %>
    <div class="home-content-container-transparent hcct-color">

      <div class="home-content-item-left">
        <div class="header-on-home-2"><%= item[:title] %></div>
      </div>

      <div class="home-content-item-right">
        <div class="home-content-text-color-2"><%= item[:content] %></div>
      </div>

      <div class="home-links-cont">
        <% item[:options].each do |option| %>
          <div class="subcategory-container-promo-empty-v4" style="justify-content: center;">
            <div class="icon-flash-1" style="padding-top: 3px;color: #FFD464;"></div>
            <div class="hcp-block">
              <div class="hcp-block-category"><%= "Les" %></div>
            </div>
             <div class="hcp-block-end-date"><%= option %></div>
          </div>
        <% end %>
      </div>

    </div>
  <% end %>


  <div class="home-content-container-transparent hcct-color">

      <div class="home-content-item-left">
        <div class="header-on-home-2">Les horaires</div>
      </div>


        <div class="subcategory-container-promo-empty-v2" style="justify-content: center;">
          <div class="icon-clock" style="padding-top: 3px;color: #FFD464;"></div>
          <div class="hcp-block">
            <div class="hcp-block-category">Du lundi au vendredi</div>
          </div>
           <div class="hcp-block-end-date">de 9h à 18h</div>
        </div>

        <div class="subcategory-container-promo-empty-v2" style="justify-content: center;">
          <div class="icon-clock" style="padding-top: 3px;color: #FFD464;"></div>
          <div class="hcp-block">
            <div class="hcp-block-category">Le samedi</div>
          </div>
           <div class="hcp-block-end-date">de 9h à 12h</div>
        </div>

  </div>



</div>


<%= render 'shared/custom_footer' %>












