<%= render 'shared/fixed_navbar'  %>

    <div class="home-banner-v2" style="background-image: url('<%= cl_image_path @random_album.sample.path %>');">

      <% if @current_promos.any? %>

        <%= link_to promos_path do %>
          <div class="home-current-promo hidden-xs">
            <div class="icon-info" style="padding-top: 3px;color: rgba(255,255,255,0.75);font-size: 22px;"></div>
            <div class="hcp-block">
              <div class="hcp-block-category-mobile-thin"><%= "Promotions sur les #{(composed_plurname(@current_promos.first.category.name)).downcase}" %></div>
            </div>
            <div class="hcp-block-category-mobile-bold"><%= "juqsqu'au #{l(@current_promos.first.end, format: '%d %B %Y')}" %></div>
          </div>
        <% end %>

        <div class="container-with-visible visible-xs">

          <%= link_to promos_path do %>
          <div class="home-current-promo">
            <div class="icon-info" style="padding-top: 3px;color: rgba(255,255,255,0.75);font-size: 22px;"></div>
            <div class="hcp-block">
              <div class="hcp-block-category-mobile-thin"><%= "Promotions " %></div>
            </div>
            <div class="hcp-block-category-mobile-bold"><%= "juqsqu'au #{l(@current_promos.first.end, format: '%d %B %Y')}" %></div>
          </div>
        <% end %>

        </div>
      <% end %>

    </div>

<div class="product-title-container-v15">
  <div class="product-title-text-home">Rechercher</div>

  <%= simple_form_for :home_choice, method: "GET" do |f| %>
    <div class="search-form-on-home">
      <div class="home-form-flex">
        <div class="ajax-form-flex-item-left" style="width: 100%;border: none;">
          <%= f.input :product_choice, collection: @category_names, label: false, selected: @category_names.first %>
          <div class="ajax-form-flex-icon-home" style="cursor: pointer;" id="select_trigger"><div class="icon-angle-down"></div></div>
        </div>
      </div>
    </div>
    <div id="home-search-form-submit">
       <i class="fa fa-search"></i>
    </div>
  <% end %>

</div>


<div class="home-content-column">

  <% @home_content.each do |item| %>
    <div class="home-content-container-transparent hcct-color">

      <div class="home-content-item-left">
        <div class="header-on-home-2"><%= item[:title] %></div>
      </div>

      <div class="home-content-item-right">
        <div class="home-content-text-color-2"><%= item[:content] %></div>
      </div>

      <div class="home-links-cont">
        <% item[:options].each do |option| %>
          <div class="subcategory-container-promo-empty-v4" style="justify-content: center;">
            <div class="icon-flash-1" style="padding-top: 3px;color: #FFD464;"></div>
            <div class="hcp-block">
              <div class="hcp-block-category"><%= "Les" %></div>
            </div>
             <div class="hcp-block-end-date"><%= option %></div>
          </div>
        <% end %>
      </div>

    </div>
  <% end %>


  <div class="home-content-container-transparent hcct-color">

      <div class="home-content-item-left">
        <div class="header-on-home-2">Les horaires</div>
      </div>


        <div class="subcategory-container-promo-empty-v2" style="justify-content: center;">
          <div class="icon-clock" style="padding-top: 3px;color: #FFD464;"></div>
          <div class="hcp-block">
            <div class="hcp-block-category">Du lundi au vendredi</div>
          </div>
           <div class="hcp-block-end-date">de 9h à 18h</div>
        </div>

        <div class="subcategory-container-promo-empty-v2" style="justify-content: center;">
          <div class="icon-clock" style="padding-top: 3px;color: #FFD464;"></div>
          <div class="hcp-block">
            <div class="hcp-block-category">Le samedi</div>
          </div>
           <div class="hcp-block-end-date">de 9h à 12h</div>
        </div>

  </div>



</div>


<%= render 'shared/custom_footer' %>












