<%= render 'shared/fixed_navbar'  %>


<div class="carousel slide carousel-fade" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <% @random_album.each_with_index do |photo, index| %>
          <% if index == 0 %>
            <div class="item active" style="background-image: linear-gradient(90deg, rgba(255,255,255,0.1)30%, rgba(0,0,0,0.1)), url(<%= cl_image_path photo.path %>);">
            </div>
          <% else %>
            <div class="item" style="background-image: linear-gradient(90deg, rgba(255,255,255,0.1)30%, rgba(0,0,0,0.1)), url(<%= cl_image_path photo.path %>);">
            </div>
          <% end %>
        <% end %>
    </div>
</div>


<% if @current_promos.empty? %>
<% else %>
  <div class="home-current-promo">
      <div class="icon-flash-1" style="padding-top: 3px;color: #FFD464;"></div>

      <div class="hcp-block">
        <div class="hcp-block-category"><%= "Promotions sur les #{(composed_plurname(@current_promos.first.category.name)).downcase}" %></div>
      </div>

      <div class="hcp-block-end-date"><%= "juqsqu'au #{l(@current_promos.first.end, format: '%d %B %Y')}" %></div>

    <div class="hcp-title">voir les détails</div>
    <i class="fa fa-caret-right" aria-hidden="true" style="color: #EE5F5B;"></i>
  </div>
<% end %>



<div class="home-content-column">
  <% @home_content.each do |item| %>
    <div class="home-content-container-transparent hcct-color">

      <div class="home-content-item-left">
        <div class="header-on-home-2"><%= item[:title] %></div>
      </div>

      <div class="home-content-item-right">
        <div class="home-content-text-color-2"><%= item[:content] %></div>
      </div>

      <div class="home-each-links">
        <% item[:options].each do |option| %>
          <div class="partners-link"><%= option %></div>
          <% if option == item[:options].last %>
          <% else %>
            <div class="separator"></div>
          <% end %>
        <% end %>
      </div>

    </div>
  <% end %>
</div>


<%= render 'shared/custom_footer' %>

