





<div class="quot-admin-header">
  <div class="qad-left">
    <div class="quot-admin-header-text">Demandes de devis</div>
  </div>
  <div class="qad-middle">
    <div class="qad-untreated-button activelink"><%= "Non traitées (#{@non_treated_quotas.count})" %></div>
    <div class="qad-treated-button"><%= "Traitées (#{@treated_quotas.count})" %></div>
    <div class="qad-all-button"><%= "Toutes (#{@quotations.count})" %></div>
  </div>
  <div class="qad-right">
    <% if user_signed_in? %>
    <div class="nstl-absolute" style="width: 150px;">

      <div class="nav-small-top-link">
        <div class="nav-small-link-design"><%= current_user.email %></div>
      </div>

      <div class="nav-small-top-link">
        <div class="dropdown">
          <%= link_to "", id: "custom-dropdown", data: { toggle: "dropdown" }, class: "dropdown-toggle" do %>
            <div class="icon-params navbar-icon-adjust"></div>
          <% end %>

          <ul class="dropdown-menu" aria-labelledby="custom-dropdown">
            <div class="caret-custom"></div>
            <li><%= link_to "dashboard", dashboard_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "gestion devis", quotations_admin_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "analytics", analytics_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Déconnexion", destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      </div>

    </div>
  <% end %>
  </div>
</div>



<div class="quot-full-container-v2">

  <div class="quot-admin-all-container">

    <% @quotations.reverse.each do |quotation| %>
      <%= link_to "#quotationShowModal", class: "qad-line-link", data: { toggle: "modal", quotationid: "#{quotation.id}" } do %>
         <div class="qad-item-line">
        <div class="qad-item-01"><%= "#{quotation.id}" %></div>
        <div class="qad-item-03">
          <div class="facontainer">
            <div>Ville</div>
          </div>
          <%= quotation.city.capitalize %>
        </div>
        <div class="qad-item-04">
          <i class="fa fa-clock-o margs-on-icon" aria-hidden="true"></i>
          <%= test_with_minute(quotation.created_at) %>
        </div>
        <div class="qad-item-05">
          <div class="facontainer">
            <div>Tél</div>
          </div>
          <%= quotation.phone %>
        </div>
        <div class="qad-item-06">
          <div class="facontainer">
            <div>Email</div>
          </div>
          <%= quotation.email %>
        </div>
        <div class="qad-item-07" style="color: <%= color_for_treated(quotation.treated) %>;"><%= text_for_treated(quotation.treated) %></div>
      </div>
      <% end %>
    <% end %>

  </div>



  <div class="quot-admin-untreated-container">

    <% @non_treated_quotas.reverse.each do |quotation| %>
    <%= link_to "#quotationShowModal", class: "qad-line-link", data: { toggle: "modal", quotationid: "#{quotation.id}" } do %>
      <div class="qad-item-line">
        <div class="qad-item-01"><%= "#{quotation.id}" %></div>
        <div class="qad-item-03">
          <div class="facontainer">
            <div>Ville</div>
          </div>
          <%= quotation.city.capitalize %>
        </div>
        <div class="qad-item-04">
          <i class="fa fa-clock-o margs-on-icon" aria-hidden="true"></i>
          <%= test_with_minute(quotation.created_at) %>
        </div>
        <div class="qad-item-05">
          <div class="facontainer">
            <div>Tél</div>
          </div>
          <%= quotation.phone %>
        </div>
        <div class="qad-item-06">
          <div class="facontainer">
            <div>Email</div>
          </div>
          <%= quotation.email %>
        </div>
        <div class="qad-item-07" style="color: <%= color_for_treated(quotation.treated) %>;"><%= text_for_treated(quotation.treated) %></div>
      </div>
    <% end %>
  <% end %>

  </div>



  <div class="quot-admin-treated-container">

    <% @treated_quotas.reverse.each do |quotation| %>

    <%= link_to "#quotationShowModal", class: "qad-line-link", data: { toggle: "modal", quotationid: "#{quotation.id}" } do %>
       <div class="qad-item-line">
        <div class="qad-item-01"><%= "#{quotation.id}" %></div>
        <div class="qad-item-03">
          <div class="facontainer">
            <div>Ville</div>
          </div>
          <%= quotation.city.capitalize %>
        </div>
        <div class="qad-item-04">
          <i class="fa fa-clock-o margs-on-icon" aria-hidden="true"></i>
          <%= test_with_minute(quotation.created_at) %>
        </div>
        <div class="qad-item-05">
          <div class="facontainer">
            <div>Tél</div>
          </div>
          <%= quotation.phone %>
        </div>
        <div class="qad-item-06">
          <div class="facontainer">
            <div>Email</div>
          </div>
          <%= quotation.email %>
        </div>
        <div class="qad-item-07" style="color: <%= color_for_treated(quotation.treated) %>;"><%= text_for_treated(quotation.treated) %></div>
      </div>
    <% end %>


  <% end %>

  </div>


</div>





















<div class="modal" id="quotationShowModal">
  <div class="modal-content-custom">
  </div>
</div>
