<%= render 'shared/fixed_navbar'  %>

<% if @real_active_promos.any? %>

  <div class="index-new-container">

      <div class="subcategory-container">
        <div class="subcategory-big-title">Promotions en cours</div>
      </div>

      <% @real_active_promos.each do |promo| %>

        <div class="promo-index-title">

          <div class="new-promo-photo-container" style="background-image: url(<%= if promo.photos.any? then cl_image_path promo.photos.last.path end %>);"></div>

          <div class="new-promo-photo-container-bottom">
            <div class="subcategory-container-promo-empty-top">
              <div class="promo-index-title-text"><%= promo.title.capitalize %></div>
            </div>

            <div class="subcategory-container-promo-empty-center">

              <div class="subcategory-container-promo-empty-v2">
                <div class="icon-flash-1" style="padding-top: 3px;color: #FFD464;"></div>
                <div class="hcp-block">
                  <div class="hcp-block-category"><%= "Promotions" %></div>
                </div>
                <div class="hcp-block-end-date"><%= "juqsqu'au #{l(promo.end, format: '%d %B %Y')}" %></div>
              </div>

              <div class="subcategory-container-promo-empty-v2">
                <div class="icon-clock" style="padding-top: 3px;color: #FFD464;"></div>
                <div class="hcp-block">
                  <div class="hcp-block-category"><%= "Fin dans " %></div>
                </div>
                <div class="hcp-block-end-date"><%= "#{(promo.end.to_date - Date.today).to_i} jours" %></div>
              </div>

              <div class="subcategory-container-promo-empty-v2">
                <div class="icon-euro" style="padding-top: 3px;color: #FFD464;"></div>
                <div class="hcp-block">
                  <div class="hcp-block-category"><%= "Reduction de " %></div>
                </div>
                <div class="hcp-block-end-date"><%= "#{promo.discount}" %></div>
              </div>

            </div>

            <div class="promo-index-link">
              <%= link_to filtered_category_path(promo.category) do %>
                <div><%= "Voir les produits" %></div>
              <% end %>
            </div>
          </div>

        </div>

      <% end %>

  </div>

<% else %>

  <div class="empty-promo-container">

    <div class="empty-promo-item">
      <div class="subcategory-container-promo-empty">
        <div class="icon-flash-1" style="padding-top: 3px;color: #FFD464;"></div>
        <div class="hcp-block">
          <div class="hcp-block-category"><%= "Aucune promotion" %></div>
        </div>
      </div>
      <div class="icon-promos-v2" style="font-size: 50px;"></div>
    </div>

  </div>

<% end %>





<%= render 'shared/custom_footer' %>
