<%= render 'shared/fixed_navbar'  %>

<div class="index-new-container">

  <div class="subcategory-container">
    <div class="subcategory-big-title">Promotions en cours</div>
  </div>

  <div class="subcategory-container-promo">
    <div class="icon-flash-1" style="padding-top: 3px;color: #FFD464;"></div>
    <div class="hcp-block">
      <div class="hcp-block-category"><%= "Promotions" %></div>
    </div>
    <div class="hcp-block-end-date"><%= "juqsqu'au #{l(@active_promos.first.end, format: '%d %B %Y')}" %></div>
  </div>



    <% @active_promos.each do |promo| %>


      <div class="promo-index-title">
        <div class="promo-index-title-text"><%= promo.title.capitalize %></div>
      </div>

      <div class="promo-index-photo" style="background-image: url(<%= if promo.photos.any? then cl_image_path promo.photos.last.path end %>);">
        <div class="promo-index-reduction">
          <div class="promo-index-reduction-big-number"><%= "#{promo.discount}" %></div>
        </div>
      </div>

      <div class="promo-index-timer">
        <div class="promo-index-timer-text promo-start"><%= "#{l(promo.start, format: '%d %B %Y')}" %></div>
        <div class="icon-right-thin timer-arrows"></div>
        <div class="promo-index-timer-text promo-end"><%= "#{l(promo.end, format: '%d %B %Y')}" %></div>
      </div>

      <div class="promo-index-link">
        <%= link_to filtered_category_path(promo.category) do %>
          <div><%= "Voir les produits" %></div>
        <% end %>
      </div>

    <% end %>

</div>





<%= render 'shared/custom_footer' %>
