<% if category.has_sub_category? %>
          <div class="subcategory-container">
            <div class="icon-label cct-icon-size" style="font-size: 17px;padding-top: 3px;margin-right: 12px;"></div>
            <div class="subcategory-big-title"><%= composed_plurname(category.name) %></div>
            <div class="subcategory-separator"></div>
            <div class="icon-script cct-icon-size" style="font-size: 15px;padding-top: 3px;margin-right: 12px;color: #32B796;"></div>
            <div class="subcategory-product-count"><%= "#{category.products.count} produits" %></div>
            <div class="subcategory-separator"></div>
            <div class="subcategory-text">Rénovation</div>
            <div class="subcategory-separator"></div>
            <div class="subcategory-text">Traditionnel</div>
            <% if category.promos.any? %>
              <div class="subcategory-separator"></div>

                <div class="icon-flash-1" style="padding-top: 3px;color: #FFD464;"></div>
                <div class="hcp-block">
                  <div class="hcp-block-category"><%= "Promotions" %></div>
                </div>
                <div class="hcp-block-end-date"><%= "juqsqu'au #{l(category.promos.first.end, format: '%d %B %Y')}" %></div>
                <div class="hcp-title">voir les détails</div>
                <i class="fa fa-caret-right" aria-hidden="true" style="color: #EE5F5B;"></i>

            <% end %>
          </div>
        <% else %>
          <div class="subcategory-container">
            <div class="subcategory-big-title"><%= composed_plurname(category.name) %></div>
            <i class="fa fa-caret-right" aria-hidden="true" style="margin-left: 8px;margin-right: 8px;"></i>
            <div class="subcategory-product-count"><%= "#{category.products.count} produits" %></div>
            <% if category.promos.any? %>
              <div class="subcategory-separator"></div>

                <div class="icon-flash-1" style="padding-top: 3px;color: #FFD464;"></div>
                <div class="hcp-block">
                  <div class="hcp-block-category"><%= "Promotions" %></div>
                </div>
                <div class="hcp-block-end-date"><%= "juqsqu'au #{l(category.promos.first.end, format: '%d %B %Y')}" %></div>
                <div class="hcp-title">voir les détails</div>
                <i class="fa fa-caret-right" aria-hidden="true" style="color: #EE5F5B;"></i>

            <% end %>
          </div>
<% end %>
