<%= render 'shared/fixed_navbar' %>
<div id="link-attributes" data-category="<%= @query_category %>"></div>

<div class="fullpage-show">
  <%= render "navigator" %>
  <div class="fullpage-rightblock">
    <div class="tab-content">

      <div class="tab-pane active">
        <div class="index-new-container">
          <%= render "product_header", category: @category %>
          <div class="custom-backdrop hidden"></div>
          <%= render @category.products %>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="modal" id="productShowModalv2">
  <div class="modal-content-custom-v2">
  </div>
</div>

<div class="custom-backdrop-v5 hidden"></div>

<%= render 'shared/custom_footer' %>

<% content_for :ajax_links do %>
  <script>
    var ajaxCallTriggerFunction = function(){
    var categoryId = $('#link-attributes').data("category");
    var liActive = $('#active-link-ajax-' + categoryId);
    if (categoryId == "empty") {
      console.log("empty");
    } else {
      $(liActive).addClass('active');
      $('li').not(liActive).removeClass('active');
      $('.tab-pane').html("<div class='await-ajax-tabs'>loading<div class='fa fa-circle-o-notch fa-spin ajax-waiting'></div></div>");
      $.ajax({
        url: "categories/" + categoryId,
        complete: allAjaxMethods,
        success: function(data){
          $('.tab-pane').html(data);
        }
      });
    }
  };


  ajaxCallTriggerFunction();
  </script>
<% end %>
