<%= render 'shared/fixed_navbar' %>

<div class="fullpage-show">
  <%= render "navigator" %>
  <div class="fullpage-rightblock">
    <div class="tab-content">

      <div class="tab-pane active">
        <div class="index-new-container">
          <%= render "product_header", category: @category %>
          <div class="custom-backdrop hidden"></div>
          <%= render @category.products %>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="modal" id="productShowModal">
  <div class="modal-content-custom">
  </div>
</div>

<%= render 'shared/custom_footer' %>


