<%= render 'shared/fixed_navbar' %>
<div id="link-attributes" data-category="<%= @query_category %>"></div>

<div class="fullpage-show">
  <%= render "navigator" %>
  <div class="fullpage-rightblock">
    <div class="tab-content">

      <div class="tab-pane active">
        <div class="index-new-container">
          <%= render "product_header", category: @category %>
          <div class="custom-backdrop hidden"></div>
          <%= render @category.products %>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="modal" id="productShowModalv2">
  <div class="modal-content-custom-v2">
  </div>
</div>

<div class="custom-backdrop-v5 hidden"></div>

<%= render 'shared/custom_footer' %>


