
<div class="fullpage-show">


  <div class="type-index-v2-header">
    <div class="leftblock-content-show">
      <ul class="nav nav-pills">
      <% @categories.each do |category| %>
        <% if category == @categories.first %>
            <li role="presentation" class="active">
              <div class="menu-index-active"><%= category.products.count %></div>
              <a href="#<%= category.id %>" data-toggle="tab"><%= composed_plurname(category.name) %></a>
            </li>
        <% else %>
            <li role="presentation">
              <div class="menu-index-active"><%= category.products.count %></div>
              <a href="#<%= category.id %>" data-toggle="tab"><%= composed_plurname(category.name) %></a>
            </li>
        <% end %>
      <% end %>
      </ul>
    </div>
  </div>


  <div class="fullpage-rightblock">
    <div class="tab-content">
      <% @categories.each do |category| %>
      <% if category == @categories.first %>

    <div role="tabpanel" class="tab-pane active" id="<%= category.id %>">

        <% if category.albums.any? %>
          <div class="banner-on-index" style="background-image: url(<%=  cl_image_path category.albums.last.photos.sample.path if category.albums.last.photos.any? %>);">
              <div class="banner-on-index-content-v2">
                <%= composed_plurname(category.name) %>
              </div>
          </div>
        <% end %>




      <div class="index-new-container">
        <% category.products.each do |product| %>
            <div class="custom-card">

              <div class="custom-card-top">

                  <div class="cct-absolute-services-container">
                    <div class="cct-asc-relative"></div>
                  </div>

                  <div class="cct-title">
                    <%= product.title %>
                    <div class="cct-copyright">®</div>
                  </div>

                   <% if product.powers.any? %>
                     <div class="cct-powers">
                      <div class="<%= power_true(product.powers.last.wind) %> <%= power_icon( product.powers.last.wind, 'wind') %>"></div>
                      <div class="<%= power_true(product.powers.last.sun) %> <%= power_icon( product.powers.last.sun, 'sun-weather') %>"></div>
                      <div class="<%= power_true(product.powers.last.rain) %> <%= power_icon( product.powers.last.rain, 'droplet') %>"></div>
                      <div class="<%= power_true(product.powers.last.energysaver) %> <%= power_icon( product.powers.last.energysaver, 'plug') %>"></div>
                      <div class="<%= power_true(product.powers.last.insects) %> <%= power_icon( product.powers.last.insects, 'bug-1') %>"></div>
                      <div class="<%= power_true(product.powers.last.security) %> <%= power_icon( product.powers.last.security, 'lock-alt') %>"></div>
                    </div>
                  <% else %>
                  <% end %>


                  <div class="cct-guarantee">

                    <% if category.promos.any? %>
                      <div class="product-guarantee-circle">
                        <div class="icon-alert cct-icon-size" style="color: #FCCF4D;"></div>
                      </div>
                    <% end %>

                    <div class="product-guarantee-circle">
                      <div><%= category.guarantee %></div>
                      <div class="cct-small-text">ans</div>
                    </div>

                     <div class="product-guarantee-circle">
                      <div class="icon-measure cct-icon-size"></div>
                    </div>

                  </div>

              </div>

              <div class="custom-card-middle">

                <div class="ccm-left">
                  <% product.infos.each do |info| %>
                    <div class="ccm-info-container">
                      <div class="ccm-info-title"><%= info.title %></div>
                      <div class="ccm-info-content"><%= info.content %></div>
                    </div>
                  <% end %>
                </div>

                <div class="ccm-right" style="background-image: url(<%= cl_image_path product.photos.last.path  %>);"></div>
              </div>

              <div class="custom-card-bottom">
                <div class="ccb-left">
                  <%= link_to "#productShowModal", class: "custom-card-bottom-left-btn", data: { toggle: "modal", typeid: "#{category.id}", productid: "#{product.id}" } do %>
                    <div class="icon-eye"></div>
                  <% end %>
                </div>

                <div class="ccb-middle">
                  <%= link_to "#productShowModal", class: "custom-card-bottom-middle-btn", data: { toggle: "modal", typeid: "#{category.id}", productid: "#{product.id}" } do %>
                    <div class="icon-pen"></div>
                  <% end %>
                </div>

                <div class="ccb-right">
                  <%= link_to "#productShowModal", class: "custom-card-bottom-right-btn", data: { toggle: "modal", typeid: "#{category.id}", productid: "#{product.id}" } do %>
                    <div class="icon-camera"></div>
                  <% end %>
                </div>



                <div class="custom-card-bottom-right-absolute">

                  <div id="score-count-<%= product.id %>">
                    <div class="score-count-number"><%= product.scores.count %> avis</div>
                  </div>

                  <div class="average-score-graph" id="score-graph-<%= product.id %>">
                    <div class="average-dyn-data" style="background-color: <%= score_color(average_score(product.scores)) %>;width: <%= (average_score(product.scores) * 10).to_i %>%;" data-width="<%= (average_score(product.scores) * 10).to_i %>%" data-color="<%= score_color(average_score(product.scores)) %>"></div>
                  </div>
                  <% if product.scores.any? %>
                  <div id="score-text-<%= product.id %>"><div class="score-text"><%= average_score(product.scores) %></div></div>
                  <% end %>
                  <div class="score-form-trigger">
                    <div class="icon-heart" style="padding-top: 2px;"></div>
                  </div>
                </div>
                <%= render 'scores/form', category: category, product: product, score: @score %>



              </div>



            </div>

          <% end %>
        </div>
    </div>

  <% else %>

    <div role="tabpanel" class="tab-pane" id="<%= category.id %>">

         <% if category.albums.any? %>
          <div class="banner-on-index" style="background-image: url(<%= cl_image_path category.albums.last.photos.sample.path if category.albums.last.photos.any?  %>);">
              <div class="banner-on-index-content"></div>
          </div>
          <% end %>



        <div class="index-new-container">
        <% category.products.each do |product| %>
             <div class="custom-card">

              <div class="custom-card-top">

                  <div class="cct-absolute-services-container">
                    <div class="cct-asc-relative"></div>
                  </div>

                  <div class="cct-title">
                    <%= product.title %>
                    <div class="cct-copyright">®</div>
                  </div>

                  <% if product.powers.any? %>
                      <div class="cct-powers">
                      <div class="<%= power_true(product.powers.last.wind) %> <%= power_icon( product.powers.last.wind, 'wind') %>"></div>
                      <div class="<%= power_true(product.powers.last.sun) %> <%= power_icon( product.powers.last.sun, 'sun-weather') %>"></div>
                      <div class="<%= power_true(product.powers.last.rain) %> <%= power_icon( product.powers.last.rain, 'droplet') %>"></div>
                      <div class="<%= power_true(product.powers.last.energysaver) %> <%= power_icon( product.powers.last.energysaver, 'plug') %>"></div>
                      <div class="<%= power_true(product.powers.last.insects) %> <%= power_icon( product.powers.last.insects, 'bug-1') %>"></div>
                      <div class="<%= power_true(product.powers.last.security) %> <%= power_icon( product.powers.last.security, 'lock-alt') %>"></div>
                    </div>
                  <% else %>
                  <% end %>


                  <div class="cct-guarantee">

                    <% if category.promos.any? %>
                      <div class="product-guarantee-circle">
                        <div class="icon-alert cct-icon-size" style="color: #FCCF4D;"></div>
                      </div>
                    <% end %>

                    <div class="product-guarantee-circle">
                      <div><%= category.guarantee %></div>
                      <div class="cct-small-text">ans</div>
                    </div>

                     <div class="product-guarantee-circle">
                      <div class="icon-measure cct-icon-size"></div>
                    </div>

                  </div>

              </div>

              <div class="custom-card-middle">

                <div class="ccm-left">
                  <% product.infos.each do |info| %>
                    <div class="ccm-info-container">
                      <div class="ccm-info-title"><%= info.title %></div>
                      <div class="ccm-info-content"><%= info.content %></div>
                    </div>
                  <% end %>
                </div>

                <div class="ccm-right" style="background-image: url(<%= cl_image_path product.photos.last.path  %>);"></div>
              </div>

              <div class="custom-card-bottom">
                <div class="ccb-left">
                  <%= link_to "#productShowModal", class: "custom-card-bottom-left-btn", data: { toggle: "modal", typeid: "#{category.id}", productid: "#{product.id}" } do %>
                    <div class="icon-eye"></div>
                  <% end %>
                </div>

                <div class="ccb-middle">
                  <%= link_to "#productShowModal", class: "custom-card-bottom-middle-btn", data: { toggle: "modal", typeid: "#{category.id}", productid: "#{product.id}" } do %>
                    <div class="icon-pen"></div>
                  <% end %>
                </div>

                <div class="ccb-right">
                  <%= link_to "#productShowModal", class: "custom-card-bottom-right-btn", data: { toggle: "modal", typeid: "#{category.id}", productid: "#{product.id}" } do %>
                    <div class="icon-camera"></div>
                  <% end %>
                </div>


               <div class="custom-card-bottom-right-absolute">

                  <div id="score-count-<%= product.id %>">
                    <div class="score-count-number"><%= product.scores.count %> avis</div>
                  </div>

                  <div class="average-score-graph" id="score-graph-<%= product.id %>">
                    <div class="average-dyn-data" style="background-color: <%= score_color(average_score(product.scores)) %>;width: <%= (average_score(product.scores) * 10).to_i %>%;" data-width="<%= (average_score(product.scores) * 10).to_i %>%" data-color="<%= score_color(average_score(product.scores)) %>"></div>
                  </div>
                  <% if product.scores.any? %>
                  <div id="score-text-<%= product.id %>"><div class="score-text"><%= average_score(product.scores) %></div></div>
                  <% end %>
                  <div class="score-form-trigger">
                    <div class="icon-heart" style="padding-top: 2px;"></div>
                  </div>
                </div>
                <%= render 'scores/form', category: category, product: product, score: @score %>


              </div>



            </div>



        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
</div>


<div class="modal" id="productShowModal">
  <div class="modal-content-custom">
  </div>
</div>





