<div class="col-xs-12 col-md-6 col-lg-4 dyn-col <%= product.sub_category.capitalize if product.sub_category != nil %>">

  <div class="custom-card <%= product.sub_category.capitalize if product.sub_category != nil %>" id="custom-card-<%= product.id %>">

    <div class="custom-card-top">
      <div class="cct-absolute-quotation-container" id="form-steps-<%= product.id %>"></div>

      <div class="cct-title">
        <%= product.title %>
        <div class="cct-copyright">®</div>
      </div>

      <div class="cct-guarantee" data-id="<%= product.id %>">

        <%= link_to category_product_path(product.category, product) do %>
          <div class="new-link-product" style="color: <%= product.category.color %>;border: 1px solid <%= product.category.color %>;">
            <div>Détails</div>
          </div>
        <% end %>

      </div>
    </div>


    <div class="custom-card-middle">
      <div class="ccm-right" style="background-image: url(<%= cl_image_path product.photos.last.path  %>);"></div>
    </div>

  </div>

</div>


