
<div class="fullpage-show">


  <div class="fullpage-leftblock-show">

    <div class="leftblock-title-product-index">
      <div class="leftblock-text-show">Produits</div>
    </div>

    <div class="leftblock-content-show">

      <ul class="nav nav-pills nav-stacked">

      <% @types.each do |type| %>
        <% if type == @types.first %>
            <li role="presentation" class="active">
              <div class="menu-icon-show" style="color: <%= type.color %>;"><i class="fa fa-circle" aria-hidden="true"></i></div>
              <a href="#<%= type.id %>" data-toggle="tab"><%= type.plurname %></a>
            </li>
        <% else %>
            <li role="presentation">
              <div class="menu-icon-show" style="color: <%= type.color %>;"><i class="fa fa-circle" aria-hidden="true"></i></div>
              <a href="#<%= type.id %>" data-toggle="tab"><%= type.plurname %></a>
            </li>
        <% end %>
      <% end %>

      </ul>

    </div>

  </div>


  <div class="fullpage-rightblock">

    <div class="tab-content">

      <% @types.each do |type| %>

      <% if type == @types.first %>

    <div role="tabpanel" class="tab-pane active" id="<%= type.id %>">


        <div class="banner-on-index" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%=  cl_image_path type.albums.last.photos.sample.path  %>);">

            <div class="banner-on-index-content"></div>

        </div>

        <div class="navtab-big-title">
            <div class="big-icon-index-top" style="color: <%= type.color %>;"><i class="fa fa-circle" aria-hidden="true"></i></div>
            <div class="big-title"><%= type.plurname %></div>
            <div class="blind-count" style="color: <%= type.color %>;"><%= type.products.count %> produits</div>
            <% if type.promos.any? %>
              <div class="blind-count">Promo en cours</div>
              <div class="blind-count"><%= "Jusqu'au #{type.promos.last.end}" %></div>
            <% end %>
        </div>



      <div class="flex-inline-wrap">
        <% type.products.each do |product| %>



            <div class="card">

              <!-- <div class="abs-description"><%= product.description.gsub(/^(.{60,}?).*$/m,'\1...') %></div> -->
              <!-- <div class="abs-description" style="color: <%= type.color %>;text-shadow: none;"><%= product.type.name.capitalize %></div> -->

              <div class="card-top image-center" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= cl_image_path product.photos.last.path  %>);">
                <div class="infos-on-hover">

                 <!--  <div class="infos-on-hover-text"><%= product.title %></div> -->
                  <!-- <div class="infos-on-hover-description"><%= product.description %></div> -->
                  <div class="infos-volets">
                    <% product.infos.first(5).each do |info| %>

                      <div class="infos-item-boob">
                        <div class="infos-icon-boob" style="background-image: url(<%= cl_image_path info.icon.path %>);"></div>

                        <div class="infos-big-boob"><%= info.title %>&nbsp;</div>

                        <div class="infos-small-boob"><%= info.content %>&nbsp;</div>
                      </div>

                    <% end %>
                  </div>


                </div>

              </div>

              <div class="card-bottom">
                <div class="card-bottom-item">
                  <div class="button-two"><%= product.title %></div>
                </div>
                <div class="card-bottom-item-three product-modal-button-<%= product.id %>" style="color: <%= type.color %>;cursor: pointer;text-shadow: none;">
                  <i class="fa fa-plus" aria-hidden="true"></i>

                </div>

              </div>



            </div>


            <%= render partial: "product", locals: {product: product} %>

            <% content_for :afterjs do %>
              <script>

                $(document).ready(function() {
                  $(".product-modal-button-<%= product.id %>").click(function() {
                  $(".form-create-prospect-<%= product.id %>").removeClass("hidden");
                  });
                });


              </script>
            <% end %>

          <% end %>
        </div>

    </div>

  <% else %>

    <div role="tabpanel" class="tab-pane" id="<%= type.id %>">

        <div class="banner-on-index" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%=  cl_image_path type.albums.last.photos.sample.path  %>);">

            <div class="banner-on-index-content"></div>

        </div>

        <div class="navtab-big-title">
            <div class="big-icon-index-top" style="color: <%= type.color %>;"><i class="fa fa-circle" aria-hidden="true"></i></div>
            <div class="big-title"><%= type.plurname %></div>
            <div class="blind-count" style="color: <%= type.color %>;"><%= type.products.count %> produits</div>
            <% if type.promos.any? %>
              <div class="blind-count">Promo en cours</div>
              <div class="blind-count"><%= "Jusqu'au #{type.promos.last.end}" %></div>
            <% end %>
        </div>


        <div class="flex-inline-wrap">
        <% type.products.each do |product| %>



            <div class="card">
              <div class="card-top image-center" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= cl_image_path product.photos.last.path  %>);">
                <div class="infos-on-hover">

                  <!-- <div class="infos-on-hover-text"><%= product.title %></div>
                  <div class="infos-on-hover-description"><%= product.description %></div> -->
                  <div class="infos-volets">
                    <% product.infos.first(5).each do |info| %>

                      <div class="infos-item-boob">
                        <div class="infos-icon-boob" style="background-image: url(<%= cl_image_path info.icon.path %>);"></div>

                        <div class="infos-big-boob"><%= info.title %>&nbsp;</div>

                        <div class="infos-small-boob"><%= info.content %>&nbsp;</div>
                      </div>

                    <% end %>
                  </div>


                </div>

              </div>

              <div class="card-bottom">
                <div class="card-bottom-item">
                  <div class="button-two"><%= product.title %></div>
                </div>
                <div class="card-bottom-item-three product-modal-button-<%= product.id %>" style="color: <%= type.color %>;cursor: pointer;text-shadow: none;">
                   <i class="fa fa-plus" aria-hidden="true"></i>
                </div>

              </div>

            </div>





            <%= render partial: "product", locals: {product: product} %>


            <% content_for :afterjs do %>
              <script>

                $(document).ready(function() {
                  $(".product-modal-button-<%= product.id %>").click(function() {
                  $(".form-create-prospect-<%= product.id %>").removeClass("hidden");
                  });
                });


              </script>
            <% end %>




        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
</div>












