
<script>

  $(document).ready(function() {
    $('.attachinary-input').attachinary();
  });


  $( "#attach-substitution" ).click(function() {
    $( "input#product_photos" ).click();
  });


</script>

<%= simple_form_for [@category, @product] do |f| %>

<div class="modal-header-custom">
  <div class="header-hard-dashboard" style="opacity: 0.8;font-size: 15px;font-family: 'Circular-Book';"><%= "Créer un produit pour" %></div>
   <div class="between-things" style="font-size: 15px;font-family: 'Circular-Book';padding: 0 10px 0 10px;"> > </div>
  <div class="header-hard-dashboard" style="opacity: 0.9;color: <%= "#{@category.color}" %>;font-size: 15px;font-family: 'Circular-Book';"><%= composed_plurname(@category.name) %></div>
  <button class="close" data-dismiss="modal"><div class="icon-android-close"></div></button>
</div>

<div class="modal-body-custom">
  <div class="edit-product-container">
    <div class="label-on-modal-dashboard">Nom du produit</div>
    <%= f.input :title, label: false %>

    <div class="label-on-modal-dashboard">Description</div>
    <%= f.input :description, label: false %>

    <div class="label-on-modal-dashboard">Photos ( Maximum: 4 )</div>
    <div id="attach-substitution">Télécharger</div>
    <%= f.input :photos, label: false, as: :attachinary %>
  </div>
</div>

<div class="modal-footer-custom">
  <%= f.submit "Valider", :class => 'submit-button-on-modal-two' %>
  <button data-dismiss="modal"><div class="submit-button-on-modal-three">Annuler</div></button>
</div>

<% end %>








