
<script>

  $('.font-cont-tastic').children().click(function() {
    $( ".dynamic-font-append" ).empty();
    var iconName = $(this).attr('class');
    var unchecked = $(".fontastic-container .font-cont-tastic div").not(iconName);
    $(unchecked).parent().css( "background-color", "white" );
    $(unchecked).css( "color", "grey" );
    var tempoAppend = $(this).clone();
    $(".dynamic-font-append").append(tempoAppend);
    $(".dynamic-font-append-text").text(iconName);
    $(".info_icon input").val(iconName);
    $(this).parent().css( "background-color", "#2AC88E" );
    $(this).css( "color", "white" );
  });

</script>

<%= simple_form_for [@product.category, @product, @info] do |f| %>

 <script>
    $(".dynamic-font-append-text").text("Pas d'icone");
  </script>


<div class="modal-header-custom">
    <div class="header-hard-dashboard" style="opacity: 0.8;">Créer une info pour le produit</div>
    <div style="margin-left: 8px;margin-right: 8px;padding-top: 4px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
    <div class="header-hard-dashboard" style="opacity: 0.4;"><%= @product.title %></div>
    <button class="close" data-dismiss="modal">×</button>
</div>






<div class="modal-body-custom">
  <div class="edit-product-container">
    <div class="label-on-modal-dashboard">Nom de l'info</div>
    <%= f.input :title, label: false %>

    <div class="label-on-modal-dashboard">Contenu</div>
    <%= f.input :content, label: false %>

    <div class="label-on-modal-dashboard">Icone</div>
    <%= f.input :icon, label: false, as: :hidden %>

    <div class="dynamic-font-append"></div>
    <div class="dynamic-font-append-text"></div>


    <div class="fontastic-container">
      <% font_icon_dynamic.each do |icon| %>
        <div class="font-cont-tastic">
          <div class="<%= icon %>" style="font-size: 20px;"></div>
        </div>
      <% end %>
    </div>

  </div>
</div>

<div class="modal-footer-custom">
  <%= f.submit "Créer une info pour #{@product.title}", :class => 'submit-button-on-modal' %>
</div>

<% end %>


